@model IEnumerable<ItAcademy.PropertyCenter.Entities.Announcement>

@{
    ViewBag.Title = DisplayResources.AboutTitle;
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <h4>Liste des annonces</h4>*@
@*<ul>
        @foreach (var item in Model)
        {
            <li>@item.Title</li>
        }
    </ul>*@

<table class="table table-hover" data-role="table">
    <tr>
        <th>Title</th>
        <th>Ref</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Reference</td>
            <td>@item.Description</td>
        </tr>
    }
</table>


<p>Use this area to provide additional information.</p>
